root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{py,sh}]
indent_style = space
indent_size = 4

[*.{env,conf,service,toml,yml,yaml,json,md,txt}]
indent_style = space

[Makefile]
indent_style = tab
