[Unit]
Description=Binance Python MultiScript Runner
After=network-online.target pia.service
Requires=pia.service

[Service]
User=predut
WorkingDirectory=/home/predut/binance
ExecStart=/bin/bash /home/predut/binance/binance_start.sh
Restart=always
RestartSec=1200
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
