[Unit]
Description=PIA VPN and Python Demon Script
After=network-online.target

[Service]
Type=simple
ExecStartPre=/usr/local/bin/piactl connect
ExecStart=@TRADING_PYTHON@ @TRADING_ROOT@/demon.py
Restart=always
RestartSec=10
User=@TRADING_USER@
WorkingDirectory=@TRADING_ROOT@

[Install]
WantedBy=multi-user.target
